body{
    background-image: url(images/blur.jpg);
    background-size: cover; 
    background-position: center;
    width: 100%;
    height: 100vh;
    color: #fff;
}
.profile-box{
    width: 360px;
    height: 550px;
    margin: auto;
    background-color: transparent;
    border-radius: 7px;
}
h1{
    text-align: center;
    padding-top: 15px;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top:15px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none
}
input[type="button"]{
    width:320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color:  hsla(295, 35%, 39%, 0.97);
    color: white;
    font-size: 18px;
}
input[type="button"]:hover{
    background: hsla(295, 42%, 29%, 0.97);
}