body{
    background-image: url(images/blur.jpg);
    background-size: cover; 
    background-position: center;
    width: 100%;
    height: 100vh;
    color: #fff;
}
.signup-box{
    width: 360px;
    height: 550px;
    margin: auto;
    background-color: #511B4F ;
    border-radius: 7px;
}

.login-box{
    width: 360px;
    height: 320px;
    margin: auto;
    background-color: #511B4F ;
    border-radius: 7px;
}
h1{
    text-align: center;
    padding-top: 15px;
}
h4{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top:15px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none
}
input[type="submit"]{
    width:320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color:  hsla(295, 35%, 39%, 0.97);
    color: white;
    font-size: 18px;
}
input[type="submit"]:hover{
    background: hsla(295, 42%, 29%, 0.97);
}
p{
    text-align: center;
    padding: 20px;
    font-size: 15px;
}
p a{
    color: gray;
}
.para2{
    text-align: center;
    color: #fff;
    font-size: 15px;
    margin-top: -5px;
}
.para2 a{
    color:  gray;
}